<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>交通路线可视化工具</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src={{ url_for('static', filename='form.js') }}></script>
</head>
<body>
    <h1>交通路线可视化工具</h1>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message.decode('utf-8') }}
    </div>
    {% endfor %}
    <p><b>使用说明</b>：输入地名之后等大概2秒，会出现一个下拉列表，必须从里面选择，不能输完就跑，否则会出错。如果发现等了2秒之后啥都没有，或者没有看到你想要的地名，可以尝试把输入的东西删掉，点一下输入框右边的箭头（如果有的话），可能有惊喜。</p>
    <form id="input" method="POST">
        <div class="container1">
            <button class="add_form_field btn btn-info">增加路线</button>
            <div class="form-group">
                <datalist id="cities"></datalist>
                <label>出发城市: </label><input type="text" name="from"
                list="cities" autocomplete="off">
                <label>到达城市: </label><input type="text" name="to"
                list="cities" autocomplete="off">
                <label>交通工具: </label>
                <select name="vehicle">
                    <option value="plane">飞机</option>
                    <option value="car">汽车</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>选择地图: </label>
            <select name="map">
                <option value="china">中国地图</option>
                <option value="world">世界地图</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">show me the map</button>
        </div>
    </form>
</body>
</html>
