<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>路线</title>
    <script src="//cdn.bootcss.com/echarts/3.4.0/echarts.min.js"></script>
    <script src="http://echarts.baidu.com/asset/map/js/world.js"></script>
    <script src="http://echarts.baidu.com/asset/map/js/china.js"></script>
    <script src="{{ url_for('static', filename='path.js') }}"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width:100%;height:100vh"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var periods = {{ periods }};
        var city_list = {{ city_list | safe }};
        var geo_coord_map = {{ geo_coord_map | safe }};
        var paths = {{ paths | safe }};
        var center = {{ center }};
        var zoom = {{ zoom }};
        var use_map = {{ use_map | safe }};
        var dists = {{ dists }};

        var option = build_option(paths, geo_coord_map, city_list, periods,
            center, zoom, use_map, dists);
        console.log(option);
        myChart.setOption(option);
    </script>
</body>
</html>
